.page{
    background : linear-gradient(white, #ffadad);
    min-height : 100%;
    overflow-y: auto;
    height : 100%;
    width : 100%;
    position : fixed;
}
.corps{
    height : 100%;
    padding : 50px;
    width : 100%;
    margin : 0;
    &__back{
        position : absolute;
        top : 20px;
        left : 40px;
        color : black;
    }
    &__title{
        font-size: x-large;
    }
    &__elements{
        padding-top : 50px;
        &-head{
            &-title{
                font-size: x-large;
            }
            &-button{
                width : 10%;
            }
        }
        &-list{
            font-size: 18px;
            padding-top : 40px;
            text-align: center;
            &-item{
                color : black;
                text-decoration: none;
            }
        }
    }
    &__items{
        padding-top : 50px;
        &-list{
            &-sign{
                height : 400px;
                width : 100%;
                margin-bottom: 40px;
                padding-top : 25px;
                padding-bottom: 30px;
                padding-left : 2%;
                border-radius: 20px;
                box-shadow: 2px 2px 2px 2px #ffadad;
                &-traduction{
                    &-p{
                        text-align: center;
                        padding-top : 150px;
                    }
                }
                &-videoDiv{
                    height : 300px;
                    &-video{
                        height : 300px;
                        object-fit: cover;
                    }
                }
                &-buttons{
                    display : flex;
                    justify-content: center;
                    flex-direction: column;
                    padding-left: 30px;
                    &-button{
                        border : 1px solid #ffadad;
                        padding-left : 10px;
                        box-shadow: 1px 1px 1px 1px #ffadad;
                        margin-bottom: 20px;
                        width : 50%;
                        &:hover{
                            color : black;
                            box-shadow: 2px 2px 2px 2px #ffadad;
                            padding-left : 13px;
                        }
                        &:active{
                            padding-left : 10px;
                            width : 48%;
                            box-shadow: 0.5px 0.5px 0.5px 0.5px #ffadad;
                        }
                    }
                }
            }
        }
    }
    &__item{
        margin-top: 40px;
    }
    
}